body {
  margin: 1rem 1rem;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  color: red;
}

header nav {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  position: calc(1888 / 2);
}

header nav a {
  text-decoration: none;
  color: gray;
}

header div.user-profile {
  display: flex;
  gap: 0.75rem;
  position: relative;
}

div.user-profile i.fa-magnifying-glass {
  position: absolute;
  right: 5.2rem;
}

div.user-profile img {
  border-radius: 1rem;
  width: 100%;
}

main.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  min-height: 80vh;
  padding-right: 15rem;
}

div.movieinfo-container h2 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

div.movieinfo-container {
  margin-left: 1rem;
  border: solid;
  width: 50vw;
}

div.moviedetails-container span {
  color: red;
  font-weight: bold;
}

span.stars {
  color: red;
}

span.rateValue {
  font-weight: bold;
}

span.pg {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

span.movietime {
  font-weight: bold;
}

div.btn button {
  padding: 0.75rem 2.5rem;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  border: none;
  margin: 0 0.5rem 0.5rem 0;
}
