body {
  margin: 1rem 1rem;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

header h1 {
  margin: 0;
  color: red;
}

header nav {
  display: flex;
  gap: 0.5rem;
  text-align: center;
}

header nav a {
  text-decoration: none;
  color: gray;
}

header div.user-profile {
  display: flex;
  gap: 0.75rem;
  position: relative;
}

div.user-profile i.fa-magnifying-glass {
  position: absolute;
  right: 5.6rem;
}

div.user-profile img {
  border-radius: 1rem;
}

main.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  min-height: 80vh;
  padding-right: 15rem;
}

div.movieinfo-container h2 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

div.movieinfo-container {
  margin-left: 1rem;
  border: solid;
  width: 50vw;
  padding-bottom: 1rem;
}

div.moviedetails-container span {
  color: red;
  font-weight: bold;
}

span.stars {
  color: red;
}

span.rateValue {
  font-weight: bold;
}

span.pg {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

span.movietime {
  font-weight: bold;
}

div.btnHero .playButton {
  padding: 0.75rem 2.5rem;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  border: none;
  margin: 0 0.5rem 1rem 0;
  font-style: normal;
  font-size: 1.5rem;
}

div.btnHero {
  margin: 2rem 1rem 1rem 0rem;
}

div.btnHero .fa-solid,
.fa.play {
  margin-left: -11.5rem;
  color: white;
  font-size: 1.5rem;
}

.suggestion .titles-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titles-container a {
  text-decoration: none;
  color: red;
}

div.popmovie1 {
  border: 1px solid black;
  width: 30vw;
  height: 26vh;
  display: flex;
  flex-direction: column;
}

.suggestion h2 {
  margin-top: 3.2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
}

.suggestion .pg,
.movietime {
  margin-top: 1rem;
  margin-left: 1rem;
}

.suggestion .fa-solid,
.fa.play {
  margin-left: -6.6rem;
  color: white;
  font-size: 1.2rem;
}

.suggestion .btn {
  padding: 0.7rem 0.7rem;
  margin-top: 1.25rem;
  margin-left: 0.9rem;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  border: none;
  width: 8rem;
}

.suggestion .playButton {
  margin-left: 1.8rem;
  font-style: normal;
  font-size: 1.1rem;
}
